:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  background-image: url(../images/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 10rem;
  border-radius: 2rem;
  background-color: #fec16a;
  border: 1px solid black;
  /* box-shadow: 0px 0px 0px 0px red; */
  animation: PiscaPisca 3.5s infinite;
}

@keyframes PiscaPisca {
  0% {
    box-shadow: 0px 0px 0px 0px blue;
  }
  25% {
    box-shadow: 0px 0px 20px 5px white;
  }
  50% {
    box-shadow: 0px 0px 20px 10px #00ff00;
  }

  75% {
    box-shadow: 0px 0px 20px 5px white;
  }

  100% {
    box-shadow: 0px 0px 0px 0px blue;
  }
}

body main div h1 span{
    /* display: none; */
    /* animation: ShowDays 1s normal; */
}

@keyframes ShowDays {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body main div button{
    width: 8rem;
    height: 2.5rem;
    border: 1px solid black;
    border-radius: 0.8rem;
    cursor: pointer;
    text-transform: uppercase;
}

body main div button:hover{
    background-color: red;
    color: #fec16a;
    font-weight: bold;
    transition: 0.5s;
}

